*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header {
  padding: 50px;
}
.cover {
  background-image: url(../images/cover.jpg);
}
.lots {
  margin: 180px 24px 0px;
}
.about {
  margin: 120px 24px;
}
.footer {
  padding: 0 50px 80px;
}